<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rowdies:wght@300&display=swap"
        rel="stylesheet">
  
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <script src="/javascript/blog.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <header>
        <nav>
            <div class="left"><a href="/admin" style="color: rgb(206, 208, 214); text-decoration: none;">BLOGGINGWEB.</a></div>
            <div class="right">
                <ul>
                    <li class=""><a href="/admin">HOME</a></li>
                    <li><a href="/admin/apost">ALL BLOGS</a></li>
                    <li><a href="/admin/userlist">USER LIST</a></li>
                    <li><a href="/admin/umassage">USER MASSAGE</a></li>
                </ul>
            </div>
            <div class="ico">
                <a href="javascript:void(0);" class="iconm" onclick="openNav()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="ico2">
                <a href="/admin/aprofile">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        </nav>
    
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0);" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/admin">HOME</a>
            <a href="/admin/apost">ALL BLOGS</a>
            <a href="/admin/userlist">USER LIST</a>
            <a href="/admin/umassage">USER MASSAGE</a>
        </div>
    </header>
    