</main>
<footer>
    <div class="fcontent">
        <div class="flogo">

            <h2>@BLOGGINGWEB</h2>
        </div>
        <div class="flinks">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/post">POST</a></li>
                <li><a href="/pages">PAGES</a></li>
                <li><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
        <div class="fsocial">
            <a href="https://www.instagram.com/sandip_chavan._/"> <i class="fa fa-instagram fa-3x " aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/chavan-sandip-uddhav/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/chavansandip74">  <i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/sandip_chavan._/ "><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a>

        </div>
    </div>
    <div class="fbottom">
        <p style="color: aliceblue;">&copy; Created by Sandip Chavan</p>
    </div>
</footer>
</body>

</html>